[Unit]
Description=Meetings Service

[Service]
Type=simple
User=root
Group=root
ExecStart=/home/gabor/work/meetings.rs/target/release/meetings
Restart=always
WorkingDirectory=/home/gabor/work/meetings.rs
Nice=19
LimitNOFILE=16384

[Install]
WantedBy=multi-user.target
