{% include "incl/header" %}

<section class="section">
  <div class="container">
    <div class="content">
       <h1 class="title is-3">{{title}}</h1>
        <ul>
          {% for event in events %}
            <li><a href="/event/{{ event.eid }}">{{ event.title}}</a></li>
          {% endfor %}
        </ul>
    </div>
  </div>
</section>

{% include "incl/footer" %}
