{% include "incl/header" %}


<section class="section">
  <div class="container">
    <div class="content">
       <h1 class="title is-3">{{event.title}}</h1>

       Date: {{event.date}} UTC

       {{body | safe}}

       Organized by <a href="/group/{{ group.id }}">{{ group.name }}</a>.
    </div>
  </div>
</section>


{% include "incl/footer" %}
