{% include "incl/header" %}

<section class="section">
  <div class="container">
    <div class="content">
       <h1 class="title is-3">{{title}}</h1>
        <ul>
        {% for group in groups %}
            <li><a href="/group/{{ group.id }}">{{ group.name }}</a></li>
        {% endfor %}
        </ul>
    </div>
  </div>
</section>

{% include "incl/footer" %}
