{% include "incl/header" %}

<section class="section">
  <div class="container">
    <div class="content">
       <h1 class="title is-3">{{group.name}}</h1>
        {{description | safe}}
    </div>
  </div>
</section>

{% include "incl/footer" %}
