{% include "incl/header" %}

<section class="section">
  <div class="container">
    <div class="content">
       <h1 class="title is-3">Login</h1>

        <form method="POST" action="/login">
        Email: <input name="email" id="email" type="email">
        <input type="submit" value="Login">
        </form>
    
    </div>
  </div>
</section>


{% include "incl/footer" %}
