{% include "incl/header" %}

<section class="section">
  <div class="container">
    <div class="content">
       <h1 class="title is-3">Markdown</h1>
       <p>
        Meet-OS allows Markdown in several places. The profile of the user. The description of a group, the description of an event and when sending emails.        
       <p>
       We use the <a href="https://github.com/wooorm/markdown-rs">markdown crate</a>.
       <p>
    </div>
  </div>
</section>


{% include "incl/footer" %}
