{% include "incl/header" %}

<section class="section">
  <div class="container">
    <div class="content">
       <h1 class="title is-3">Reset password</h1>

        <form method="POST" action="/reset-password">
        Email: <input name="email" class="input" id="email" type="email" placeholder="Email">
        <input type="submit" class="button" value="Send code">
        </form>
    
    </div>
  </div>
</section>


{% include "incl/footer" %}
