{% include "incl/header" %}

<section class="section">
  <div class="container">
    <div class="content">
       <h1 class="title is-3">{{title}}</h1>
       {% if users %}
        <ul>
          {% for user in users %}
              <li><a href="/uid/{{ user.0 }}">{{ user.1.name }}</a></li>
          {% endfor %}
        </ul>
        {% else %}
          No users
        {% endif %}
    </div>
  </div>
</section>

{% include "incl/footer" %}
